.footer{
    background-color: #6B3CC9;
    margin-top: 50px;
    
}
.footer-section{
    display: flex;
    flex-direction: column;
    
}
.logo{
    width: 35px;
    /* margin-left: 50px; */
   
}
.company-name{
    font-family: "Lakki Reddy", serif;
    font-size: 22px;
    padding-top: 10px;
    
    color: #ffffff;
    
}
.about-container{
    padding-left: 30px;
    /* border: 1px solid red; */
    padding-top: 10px;
    width: 60%;
    
}
.about{
    font-size: 14px;
    padding-bottom: 30px;
    
}
.inner{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 30px;
    
   
    
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
    gap: 20px;
    
    
    /* margin-bottom: 30px; */
}
.link-title{
    padding-bottom: 10px;
}
.footer-content{
    
    /* margin: 10px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #ffffff;
    /* border: 1px solid red; */
    margin: 20px 50px;
    /* margin-top: 20px; */
}
p{
    font-size: 14px;
    padding: 2px 0;
}
.copyright{
    text-align: center;
    color: #ffffff;
    padding: 10px 0px;
}
.h{
    width: 50%;
   margin-right: auto;
   margin-left: auto;
}
.footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 0; */
    margin: 25px 0;
    padding:0 20px;
    /* border: 1px solid red; */

}
.footer-content1{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 200px;
    align-items: flex-start;
    gap: 2px;

}

@media screen and (max-width: 768px) {
    .footer{
        background-color: #6B3CC9;
        margin-top: 50px;
        /* display: flex;
        align-items: center;
        justify-content:center; */
    }
    .footer-section{
        display: flex;
        flex-direction: column;
        
    }
    .logo{
        width: 35px;
        /* margin-left: 50px; */
       
    }
    .company-name{
        font-family: "Lakki Reddy", serif;
        font-size: 22px;
        padding-top: 10px;
        
        color: #ffffff;
        
    }
    .about-container{
        padding-left: 30px;
        width: 60%;
        padding-top: 10px;
    }
    .about{
        font-size: 14px;
        padding-bottom: 5px;
    }
    .inner{
        display: flex;
        gap: 5px;
        align-items: center;
        padding-left: 30px;
        
       
        
    }
    .footer-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
        
        
        /* margin-bottom: 30px; */
    }
    .link-title{
        padding-bottom: 10px;
        align-items: left;
    }
    .footer-content{
        
        /* margin: 10px; */
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: #ffffff;
        /* border: 1px solid red; */
        margin: 20px 50px;
        /* margin-top: 20px; */
    }
    p{
        font-size: 14px;
        padding: 2px 0;
    }
    .copyright{
        text-align: center;
        color: #ffffff;
        padding: 10px 0px;
    }
    .h{
        width: 70%;
       margin-right: auto;
       margin-left: auto;
    }
    
    .footer-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* margin: 0 0; */
        margin: 25px 40px;
        padding:0 40px;
        /* border: 1px solid red; */
    
    }
    .footer-content1{
        display: flex;
        flex-direction: column;
        color: #ffffff;
        width: 200px;
        align-items: flex-start;
        gap: 1px;
    
    }
}
@media screen and (max-width:375px){
   
    .footer-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 0 0; */
        margin: 15px 40px;
        padding:0 20px;
        /* border: 1px solid red; */
    
    }
    .footer-content{
        
        /* margin: 10px; */
        display: flex;
        /* justify-content: flex-start; */
        flex-direction: column;
        color: #ffffff;
        /* border: 1px solid red; */
        margin: 10px 30px;
        /* margin-top: 20px; */
    }
    .footer-content1{
        display: flex;
        flex-direction: column;
        color: #ffffff;
        width: 200px;
        align-items: flex-start;
        gap: 1px;
        margin-top: 20px;
    
    }
    .about-container{
        padding-left: 30px;
        /* border: 1px solid red; */
        padding-top: 10px;
        width: 90%;
        
    }
    .h{
        width: 80%;
       margin-right: auto;
       margin-left: auto;
    }
  
  
}
