.main{
    width: 100vw;
}
.content{
    position: absolute;
    bottom: 30px;
    border: none;
    background-image:linear-gradient(90deg,#1CBDDD,#4DCA79);
    padding: 20px 20px;
    z-index: 1;
    margin-left: 80px;
    width: 30%;

}
.background{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
    
}
.title{
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
}
.card{
    position: relative;
    overflow: hidden;
    height: 100vh;
    
}
.topic{
    color: #6B3CC9;
    font-size: 23px;
    /* margin-top: 120px; */
}
.paragraph{
    font-size: 14px;
    padding-top: 15px;
}
.pic{
    /* border: 1px solid red; */
    width: 50%;
    overflow: hidden;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
   
}
.img{
    padding-left: 20px;
    width: 100%;
}
.search-img{
    padding-left: 120px;
    width: 100%;
}
.box1-content{
    /* border: 1px solid blue; */
    width: 50%;
    
}

/* @media screen and (min-width: 1440px) {
    
  }
@media screen and (min-width: 1200px) {
    
  } */
@media screen and (max-width: 768px) {
    .content{
        position: absolute;
        
        /* border: 1px solid black; */
        background-image:linear-gradient(90deg,#1CBDDD,#4DCA79);
        padding: 20px 20px;
        z-index: 1;
        margin-left: 0px;
        bottom: 0;
        width:100%;
    
    }
    .search-img{
        padding-left:0;
        width: 100%;
    }
    .pic{
        /* border: 1px solid black; */
        width: 40%;
        overflow: hidden;
    }
    .box-container{
        display: flex;
        align-items: center;
        /* justify-content: center;border: 2px solid green; */
        
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        /* border: 1px solid blue; */
       
    }
    .box1-content{
        /* border: 1px solid blue; */
        width: 50%;
        
    }
    .topic{
        color: #6B3CC9;
        font-size: 23px;
        
    }
    .paragraph{
        font-size: 14px;
        padding-top: 15px;
    }
    .img{
        width: 100%;
        padding-left: 0;
        /* border: 2px solid yellow; */
    }
    .title{
        color: #ffffff;
        font-size: 30px;
        line-height: 30px;
        
    }
    
  }
@media screen and (max-width: 375px) {
    
    
    
    
    .topic{
        color: #6B3CC9;
        font-size: 23px;
        text-align: center;
        /* margin-top: 120px; */
    }
    .paragraph{
        font-size: 14px;
        padding-top: 15px;
        align-items: center;
    }
    .pic{
        
        width: 70%;
        overflow: hidden;
        
    }
    .box-container{
        display:flex;
        
        align-items: center;
        justify-content: center;
        
    }
    .pic:nth-of-type(2){
        order: -1;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
       
    }
    .img{
        padding-left: 20px;
        width: 100%;
    }
    .search-img{
        padding-left: 0px;
        width: 100%;
        

    }
    .box1-content{
        /* border: 1px solid blue; */
        width: 70%;
        
    }
  }